version: '3.8'

volumes:
  postgres-data:

networks:
  backend:
    driver: bridge

services:
  postgres:
    image: postgres:17.6-alpine
    container_name: postgresql
    environment:
      POSTGRES_USER: docker
      POSTGRES_PASSWORD: docker
      POSTGRES_DB: master
    ports:
      - '5432:5432'
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - backend

  pgadmin:
    image: dpage/pgadmin4:9.8.0
    container_name: pgadmin
    depends_on:
      - postgres
    environment:
      PGADMIN_DEFAULT_EMAIL: developer@gmail.com
      PGADMIN_DEFAULT_PASSWORD: developer@2025
    ports:
      - '15432:80'
    networks:
      - backend
